.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
  color: white;
  padding: 0.75rem 1rem;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;

  @media (max-width: 768px) {
    display: inline-block;
  }
}

.logo {
  font-weight: bold;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
